@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Playfair+ Display :wght@400;500 & display=swap');

*{
    font-family: 'Playfair' , sans-serif ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 1px;
    text-decoration: none;
    list-style: none;
   }



header {
         width: 100%;
         top: 0;
         right: 0;
         z-index: 1000;
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 30px 8%;
         background-color: rgb(168, 2, 2);
         color: white
         
         
}
 


.img_blog{
    width:  1100px;
    height: 400px;
}

footer{
    width: auto;
    color: var(--color-neutral-40);
}

.footer_link{
    text-decoration: dashed;
    color: white
}

#footer_content{
    background-color: rgb(168, 2, 2);
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 3rem 3.5rem;
    
}

#footer_contacts h1{
    margin-bottom: 3rem;

}

#footer_social_midia {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_midia .footer_link i {
    font-size: 1.25rem;
}

#footer_social_midia .footer_link{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5rem;
    color: var(--color-neutral-40);
    border-radius: 50%;
    transition: all 0.4s;
    line-height: 0%;
} 

#footer_social_midia .footer_link:hover {
    opacity: 0.8;

}
#Instagram{
    background: linear-gradient(#7f37c9, #ff2992, #ff9807);
    
}

#whatsApp{

    background-color: #25d366;
    
}

.container-body {
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #ffffff;
    flex-direction: column;
    row-gap: 40px;
}

.container {
    width: 100%;
    max-width: 800px;
    border-style: solid;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #6679bd;
}

.container .title {
    font-size: 25px;
    position: relative;
}

.container form .campos {
    display: flex;
    flex-wrap: wrap;
    
}

form .campos .input-box {
    width: calc(100% / 2 - 20px);
    margin: 20px;
    
}

.campos .input-box input {
    height: 50px;
    width: 100%;
    box-shadow: 2px 2px 2px rgb(196, 196, 196);
    border: none;
    border-radius: 5px;
    background-color:  #f9bebe;
    align-items: center;
}


input[type="text"],
input[type="telefone"],
input[type="email"],
textarea,
textarea::placeholder,
input::placeholder {
    font-size: large;
    padding: 20px;
}

.campos .input-box textarea {

    resize: none;
    height: 100px;
    width: 100%;
    box-shadow: 2px 2px 2px rgb(196, 196, 196);
    border: none;
    border-radius: 5px;
    background-color: #f9bebe;
}

form .button {
    height: 50px;
    margin: 50px 0;
}

form .button button {
    height: 100%;
    width: 50%;
    box-shadow: 2px 2px 2px rgb(196, 196, 196);
    border: none;
    border-radius: 5px;
    font-size: large;
    outline: none;
    color: #ffff;
    background:rgb(168, 2, 2);
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    align-self: center;
}

form .button button:hover {
    background-color: #ed1010;
}

.contacts {
    width: 100%;
    max-width: 800px;
    border-style: solid;
    background: #ffffff;
    padding: 25px 30px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #6679bd;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.contact:hover {
    transform: translateY(-5px);
    /* Efeito de levantamento ao passar o mouse */
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    .contacts {
        max-width: 100%;
    }

    form .campos .input-box {
        width: 100%;
        margin-bottom: 15px;
    }
}

.name ,.email ,.telefone {
    position: relative; /* Adiciona position: relative ao container do input */
  }
  
  .required-popup::after {
    content: "* Campo obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: #DFDFDF;
    font-size: 0.65rem;
    padding: 0.2rem;
    display: block;
    background-color: #202020;
    border-radius: 8px;
  }
    
    input.correct {
      background-color: #BBCCBB;
      border: solid 2px #206620;
      color: #206620;
    }
    
    input.error {
      border: solid 2px #992020;
      background-color: #CCBBBB;
      color: #662020;
    }
    
    .msg-ajuda {
      position: absolute;
      font-size: .8rem;
      color: darkred;
      top: 100%; /* Posiciona a mensagem abaixo do input */
      left: 0;
      align-items:start;
    }
  
    @media(max-width: 1000px){
      .msg-ajuda{
        font-size: .7rem;
      }
    
    }
    
    @media(max-width: 500px) {
  
      .msg-ajuda{
        font-size: .7rem;
      }
    
    }